body {
    background-color: #273238;
}

p {
    color: #ccd6dc;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    text-align: justify;
}

.color_title {
    background-color: white;
    color: #698593;
    text-align:center;
    font-size: 48px;
    font-family: Impact, 'Charcoal', sans-serif;
}

.color_aspiradoras {
    color: #e6cbbf;
    font-size: 24px;
    font-family: Arial, 'Gadget', sans-serif;
    font-style: italic;
    font-weight: 900;
    text-transform: capitalize;
    font-variant-caps: small-caps;
  
}
.color_celulares {
    color: #a1c1cb;
    font-size: 24px;
    font-family: Arial, 'Gadget', sans-serif;
    font-style: italic;
    font-weight: 900;
    text-transform: capitalize;
    font-variant-caps: small-caps;
}

.color_consolas {
    color: #bcbdbf;
    font-size: 24px;
    font-family: Arial, 'Gadget', sans-serif;
    font-style: italic;
    font-weight: 900;
    text-transform: capitalize;
    font-variant-caps: small-caps;
}

.color_hometheaters {
    color: #8d94a1;
    font-size: 24px;
    font-family: Arial, 'Gadget', sans-serif;
    font-style: italic;
    font-weight: 900;
    text-transform: capitalize;
    font-variant-caps: small-caps;
}

.color_televisores {
    color: #b2b2aa;
    font-size: 24px;
    font-family: Arial, 'Gadget', sans-serif;
    font-style: italic;
    font-weight: 900;
    text-transform: capitalize;
    font-variant-caps: small-caps;
}

/* CORREGIR EL MARGIN DE LAS IMG */
#img_aspiradoras {
    border: 5px solid;
    border-color: #e6cbbf;  
    margin-left: 5%;

}

#img_celulares {
    border: 5px solid; 
    border-color: #a1c1cb;
    margin-left: 5%;
}

#img_consolas {
    border: 5px solid; 
    border-color:#a2a5a8;
    margin-left: 5%;
}

#img_televisores {
    border: 5px solid;
    border-color: #b2b2aa;
    margin-left: 5%;
}

#img_hometheaters {
    border: 5px solid; 
    border-color: #8d94a1;
    margin-left: 5%;
}